

.image_desktop {
  width: 100%;
}
.image_mobile {
  display: none;
}

@media only screen and (max-width: 415px) {
.image_header {
  background-image: url('./../../assets/header/bg-header-mobile.svg')!important;
}
}

.image_header {
  height: 200px;
  width: 100%;
  background-image: url('./../../assets/header/bg-header-desktop.svg');
  background-repeat: none;
  background-size: cover;
  background-color: rgb(65, 151, 141) !important;
}


