<div class="card">
  <img src="../../assets/photosnap.svg">
  <div class="content__card">
    <div>
      <!-- Title, description + Flag -->
      <span id=title>{{title}}</span>
      <span (click)="onClickFlagNew()" id="flag__new">NEW!</span>
      <span (click)="onClickFlagFeatured()" id="flag__featured">FEATURED</span>
      <h4 id=description>{{description}}</h4>
      <!-- List -->
      <ul id=list>
        <li>{{day}}</li>
        <li style="margin-left: 20px;">{{time}}</li>
        <li>{{region}}</li>
      </ul>
      <hr class="divider">
    </div>
    <!-- ALTRI FLAG -->
    <div class="flag">
      <span (click)="onClickFrontend()" id="frontend">Frontend</span>
      <span (click)="onClickSenior()" id="senior">Senior</span>
      <span (click)="onClickHtml()" id="senior">HTML</span>
      <span (click)="onClickCss()" id="senior">CSS</span>
      <span (click)="onClickJavascript()" id="senior">JavaScript</span>
    </div>
  </div>
</div>
