@import '../../styles.scss';

div.card:last-child {
  margin-bottom: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0px;
}

li:first-child {
  list-style: none
}

li:last-child {
  margin-left: 1.25rem;
}

li {
  color: $color-grey;
}

.divider {
  display: none;
}

span#title {
  font-size: 1rem;
  padding-top: 1px;
  color: $color-title;
  font-weight: bold;
}

h4#description {
  margin-top: 0.256rem;
  font-size: 1.063rem;
  letter-spacing: 1px;
  word-break: break-word;
}

ul#list {
  margin-top: 0.256rem;
}

span#flag__new {
  font-size: 0.700rem;
  margin-left: 0.938rem;
  background-color: $color-heavenly;
  border-radius: 0.75rem;
  padding: 0.288rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  word-break: break-word;
}

span#flag__featured {
  font-size: 0.700rem;
  margin-left: 0.625rem;
  background-color: $color-grey;
  border-radius: 0.75rem;
  padding: 0.288rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  word-break: normal;
}

h4 {
  margin: 0;
}

/* FLAG  */
.flag {
  position: absolute;
  right: 2rem;
  padding: 1.35rem;
  padding-right: 0rem;
}

span#frontend {
  font-size: 1rem;
  background-color: $color-tags-background;
  border-radius: 0.25rem;
  padding: 0.188rem;
  color: $color-tags;
  font-weight: bold;
  cursor: pointer;
}

span#senior {
  font-size: 1rem;
  margin-left: 0.625rem;
  background-color: $color-tags-background;
  border-radius: 0.25rem;
  padding: 0.188rem;
  color: $color-tags;
  font-weight: bold;
  cursor: pointer;
}

span#html {
  font-size: 16px;
  margin-left: 10px;
  background-color: $color-tags-background;
  border-radius: 4px;
  padding: 3px;
  color: $color-tags;
  font-weight: bold;
  cursor: pointer;
}

span#css {
  font-size: 16px;
  margin-left: 10px;
  background-color: $color-tags-background;
  border-radius: 4px;
  padding: 3px;
  color: $color-tags;
  font-weight: bold;
  cursor: pointer;
}

span#javascript {
  font-size: 16px;
  margin-left: 4px;
  background-color: $color-tags-background;
  border-radius: 39px;
  padding: 3px;
  color: $color-tags;
  font-weight: bold;
  cursor: pointer;
}



@media only screen and (max-width: 935px) {
 img {
  position: absolute;
  height: 50px;
  top: -24px;
}
.flag {
  position: absolute;
  padding-left: 0px;
}
.title__card {
  margin-left: -1rem;
}
}

@media only screen and (max-width: 785px) {
  .divider {
    display: flex;
    position: absolute;
    margin-top: 10px;
    width: 88%;
  }

  .flag {
    position: relative;
    word-wrap: break-word;
    margin-left: 2rem;
  }

  .title__card {
    margin-left: 0rem;
  }
  }
