<ng-container *ngIf="work">
  <div class="card" *ngFor="let w of work">
    <img [src]="w.img">
    <div class="content__card">
      <div class="title__card">

        <span id=title>{{w.tech[0]}}</span>
        <span id="flag__new">NEW!</span>
        <span id="flag__featured">FEATURED!</span>
        <h4 id=description>{{w.description.features}}</h4>

        <ul id=list>
          <li>{{day}}</li>
          <li style="margin-left: 20px;">{{time}}</li>
          <li>{{region}}</li>
        </ul>
        <hr class="divider">
      </div>

      <div class="flag">
        <span id="frontend">Frontend</span>
        <span id="senior">Senior</span>
        <span id="senior">HTML</span>
        <span id="senior">CSS</span>
        <span id="senior">JavaScript</span>
      </div>
    </div>
  </div>
</ng-container>
