@import "./../../assets/store/index.scss";

.content_tags {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 95%;
  margin: auto;
  margin-left: 1rem;
}

.content_tags {
  display: contents;
  padding: -1px;
  width: 100%;
  margin: auto;
}
span#remove {
  padding: 3px;
  border-radius: 0px 4px 4px 0px;
  background-color: $color-heavenly;
}
span#remove:hover {
  background-color: rgb(32, 32, 32);
}

span {
  cursor: pointer;
}
.container {
  width: 70%;
  margin-left: auto;
  margin-top: 4px;
}
/* FLAG  */
.flag {
  padding-top: 1rem;
  padding-right: 0rem;
}

span#tag {
  font-size: 14px;
  background-color: $color-tags-background;
  border-radius: 0.25rem;
  padding: 0.188rem;
  color: $color-tags;
  font-weight: bold;
  margin-left: 1rem;

  &:not(:last-child) {
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    zoom: 108%;
  }
}

span#tag:hover {
  background-color: none !important;
  transition: 0.3s ease !important;
}

span#tag:hover:last-child {
  background-color: $color-heavenly;
  color: white;
}

@media only screen and (max-width: 935px) {
  span#tag {
    font-size: 14px;
    background-color: $color-tags-background;
    border-radius: 0.25rem;
    padding: 0.188rem;
    color: $color-tags;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }

  .container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 0.3em;
  }
  .flag {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0rem;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 785px) {
  .content_tags {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 95%;
    margin: auto;
    margin-left: 1rem;

  }

  span#tag {
    font-size: 14px;
    background-color: $color-tags-background;
    color: $color-tags;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    flex-wrap: wrap;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-left: 2.2rem;
    padding-bottom: 0%;
  }

  .flag {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0%;
    padding-bottom: 0rem;
  }
}
