@import './../../assets/store/index.scss';


.input_text {
  border: 0;
  border-bottom: 1px solid black;
  background: transparent;
  transition: border-color 0.2s;
}
.input_text:focus {
  outline: none;
  border-bottom: 1px solid $color-title;
  color: black;
}

.filters {
  // display: none;
  position:absolute;
  left:0;
  right:0;
  top: 15%;
  margin:0 auto;
  background-color: white;
  width: 86%;
  padding: 1rem;
  border-radius: 0.438rem;
  box-shadow: 3px 3px 12px rgb(0 0 0 / 20%);
}
img {
  width: 15px;
  height: 15px;
}
.content_filter {
  width: 100%;
  display: flex;
  flex-direction: row;
}

span#tags {
  font-size: 14px;
  margin-right: 0.625rem;
  background-color: $color-tags-background;
  border-radius: 0.25rem;
  padding: 0.188rem;
  color: $color-tags;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}
