@import './../../assets/store/index.scss';

ul {
  z-index: 1;
  position: absolute;
  background-color: white;
  width: calc(100% - 30px);
  margin: auto;
  list-style-type: none;
  border-radius: 4px;
  box-shadow: 3px 3px 12px rgb(0 0 0 / 20%);
}

li {
  padding: 6px;

  &:first-child {
    margin-top: 5px;
  }
}

li:hover {
  background-color: $color-heavenly;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 0%;

}
input#input_text {
  border: 0;
  border-bottom: 1px solid black;
  background: transparent;
  transition: border-color 0.2s;
}
input#input_text:focus {
  outline: none;
  border-bottom: 1px solid $color-title;
  color: black;
}

span#clear {
  position: absolute;
  font-size: 12px;
  right: 31px;
  padding-top: 4px;
  cursor: pointer;
}

span#clear:hover {
  color: $color-heavenly;
}
.filters {
  position:absolute;
  left:0;
  right:0;
  top: 15%;
  margin:0 auto;
  background-color: white;
  width: 86%;
  padding: 1rem;
  border-radius: 0.438rem;
  box-shadow: 3px 3px 12px rgb(0 0 0 / 20%);
}

img {
  width: 15px;
  height: 15px;
}
.content_filter {
  width: 100%;
  display: flex;
  flex-direction: row;
}

span#tags {
  font-size: 14px;
  margin-right: 0.625rem;
  background-color: $color-tags-background;
  border-radius: 0.25rem;
  padding: 0.188rem;
  color: $color-tags;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}
