<div class="filters">
  <div class="content_filter">
    <app-tags
    *ngFor="let tag of filtriSelezionati"
    [tag]="tag"
    [isDestroyable]="true"
    (onDestroy)="deleteFilter($event)"
  ></app-tags>

    <div class="autocomplete">
    <ul class="search-result">
      <li
        *ngFor="let tag of tags$ | async"
        (click)="onClickTags(tag)">
        {{tag}}
      </li>
    </ul>
    <input
    #searchBox id="input_text"
    (input)="search(searchBox.value)"
    autocomplete="off"
    name="text"/>
    </div>



    <span
      id="clear"
      (click)="onClear()">
      Clear
    </span>

  </div>
</div>
