*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(225, 248, 240);
}

.card {
  background-color: white;
  width: 86%;
  margin: auto;
  display: flex;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 0.438rem; /* PER LUCA = Ho utilizzato un tool online per convertirlo da px a Rem. Sarebbero 7px*/
  box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
}

.content__card {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 2rem;
}


